<div><h6>Résumé Bloc</h6>
<table class="table table-sm table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Dimension</th>
    <th scope="col">Type de Base</th>
    <th scope="col">Essence de bois</th>
    <th scope="col">Coloris</th>
    <th scope="col">Finition</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>{{blocs.hauteur}}</td>
    <td>{{blocs.base}}</td>
    <td>{{blocs.typeBois}}</td>
    <td>{{blocs.couleur}}</td>
    <td>{{blocs.finition}}</td>
  </tbody>
</table>
</div>
