h2 {
  font-family: Tahoma, serif;
  font-size: medium;
  text-align: center;
  font-weight: bold;
}
div {
  font-family: Tahoma, serif;
  font-size: medium;
  text-align: center;
  font-weight: normal;
}
