<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Nom</span>
    </div>
    <input type="text" class="form-control" placeholder="Nom" aria-label="Username" aria-describedby="basic-addon1" ngModel (ngModelChange)="getNom()" name="nom">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1.1">Prénom</span>
    </div>
    <input type="text" class="form-control" placeholder="Prénom" aria-label="Username" aria-describedby="basic-addon1" ngModel (ngModelChange)="getPrenom()" name="prenom">
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Adresse Postale" aria-label="Recipient's username"
           aria-describedby="basic-addon2" ngModel (ngModelChange)="getAdressePostale()" name="adressePostale">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">Adresse Postale</span>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">@</span>
    </div>
    <input type="text" class="form-control" placeholder="email" aria-label="Username" aria-describedby="basic-addon1" ngModel (ngModelChange)="geteMail()" name="eMail">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3.3">Mot de Passe</span>
    </div>
    <input type="password" class="form-control" placeholder="***********" aria-label="Username"
           aria-describedby="basic-addon1" ngModel (ngModelChange)="getMotDePasse()" name="motDePasse">
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="XX XX XX XX XX" aria-label="Recipient's username"
           aria-describedby="basic-addon2" ngModel (ngModelChange)="getNumTel()" name="numTel">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2.2">Téléphone</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

