<nav>
  <a
    class="colorLinks"
    routerLink="/user"
    routerLinkActive="active">
    afficher les utilisateurs
  </a>
  <a
    class="colorLinks"
    routerLink="/create_user"
    routerLinkActive="active">
    créer un utilisateur
  </a>
  <a
    class="colorLinks"
    routerLink="/blocs"
    routerLinkActive="active">
    Commander des blocs
  </a>
  <a
    class="colorLinks"
    routerLink="/panier_blocs"
    routerLinkActive="active">
    <img src="https://img.icons8.com/bubbles/35/000000/buy.png"/>
    Panier
  </a>
  <a
    class="colorLinks"
    routerLink=""
    routerLinkActive="active">
    home
  </a>


</nav>
<router-outlet></router-outlet>
