nav {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  display: -webkit-box;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.colorLinks {
  color: white;
  size: 150px;
  margin: 40px;
  background: cadetblue;
  border: solid 1px cadetblue;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  padding: 10px;
  font-family: Tahoma, serif;
  text-decoration: none;
}
