<form>
  <h1>Composez votre bloc personnalisé !</h1>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Taille du bloc</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio"
                 name="hauteur" id="gridRadios1.1"
                 value="UN"
                 [(ngModel)]="hauteur" (ngModelChange)="getHauteur()"
                 checked>
          <label class="form-check-label" for="gridRadios1.1">
            1 cm
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio"
                 name="hauteur" id="gridRadios2.2"
                 value="QUATRE"
                 [(ngModel)]="hauteur" (ngModelChange)="getHauteur()">
          <label class="form-check-label" for="gridRadios2.2">
            4 cm
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio"
                 name="hauteur" id="gridRadios3.3"
                 value="SEPT" [(ngModel)]="hauteur" (ngModelChange)="getHauteur()">
          <label class="form-check-label" for="gridRadios3.3">
            7 cm
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect1">Bases d'attaches</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect1" [(ngModel)]="base" (ngModelChange)="getBase()" name="base">
        <option value="CYLINDRIQUE">CYLINDRIQUE</option>
        <option value="CARREE">CARREE</option>
        <option value="TRIANGULAIRE">TRIANGULAIRE</option>
        <option value="HEXAGONALE">HEXAGONALE</option>
        <option value="RECTANGULAIRE">RECTANGULAIRE</option>

      </select>
      </div>
  </div>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect2">Type de bois</label>
      <select [(ngModel)]="typeBois" (ngModelChange)="getTypeBois()" name="typeBois" class="custom-select mr-sm-2" id="inlineFormCustomSelect2">
        <option value="CHENE">CHENE</option>
        <option value="PIN">PIN</option>
        <option value="HETRE">HETRE</option>
        <option value="ACAJOU">ACAJOU</option>
      </select>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect3">Type de finition</label>
      <select [(ngModel)]="finition" (ngModelChange)="getFinition()" name="finition" class="custom-select mr-sm-2" id="inlineFormCustomSelect3">
        <option value="MATE">MATE</option>
        <option value="BRILLANTE">BRILLANTE</option>
        <option value="SATINEE">SATINEE</option>
        <option value="BRUTE">BRUTE</option>
      </select>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect4">Coloris</label>
      <select [(ngModel)]="couleur" (ngModelChange)="getCouleur()" name="couleur"class="custom-select mr-sm-2" id="inlineFormCustomSelect4">
        <option value="BLEU">BLEU</option>
        <option value="BLANC">BLANC</option>
        <option value="ROUGE">ROUGE</option>
        <option value="JAUNE">JAUNE</option>
        <option value="ORANGE">ORANGE</option>
        <option value="VERT">VERT</option>
        <option value="NOIR">NOIR</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" (click)="postNewBloc()">valider</button>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary"
              routerLink="/panier_blocs"
              routerLinkActive="active"
        >
        <img src="https://img.icons8.com/bubbles/40/000000/buy.png"/>
        blocs créées</button>
    </div>
  </div>
</form>
