<div class="block">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{user.nom}} {{user.prenom}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Adresse : {{user.adressePostale}}</li>
      <li class="list-group-item">Tél : {{user.numTel}}</li>
      <li class="list-group-item">@email : {{user.eMail}}</li>
    </ul>
  </div>
</div>
