h2 {
  margin-top: 6px;
  font-family: Tahoma, serif;
}
div {
  font-family: Tahoma, serif;
  font-weight: normal;
  margin-bottom: 4px;
  flex-direction: row;
  box-sizing: content-box;
  display: -webkit-inline-flex;
}
.block {
  display: -webkit-inline-flex;
}
